.root
    display flex
    padding 2u
.img    
    width 100%
    min-width 30u
    max-width 60u
    height 40u
    background-color #dddddd
.pokemon
    margin-top 2u
    width 100%
    max-width 120u
    align-self center
.wrapper
    +tablet()
        flex-direction row
        justify-content space-between

.title
    margin-top 2u
    font-size 3u
    +tablet()
        margin-top 0

.subtitle
    margin-top 2u
    font-size 2u
.first
    margin-top 0
.properties
    margin-top 2u
    background-color #dddddd
    padding 2u
    border-radius 2u

.btn 
    margin-top 2u
    max-width 50u
.inp
    width 12u

.holder
    +tablet()
        flex 1
        padding 2u
        padding-top 0

.btn-row
    margin-left 2u