$menuHeight = 6u
$logoColor = #FCB69D

.sidebar
  background-color rgb(226, 89, 80)
  &-menu
    padding-top 2u

.menu
  background-color $UI.colors.error
  height $menuHeight
  z-index 1
  align-items center
  padding 0 2u
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.05)

.logo
  margin-left 2u
  color white
  font(xl)

.body
  flex 1
