.root
  flex 1
  margin-top 2u
  margin-left 2u
  min-width 30u
  max-width 50u

.img
  width 100%
  min-height 30u
  background-color #dddddd

.title
  font-size 20px
  font-weight bold

.line
  margin-top 2u

.number
  font-size 16px
  color #b0b0b0
  
.tagsHolder
  margin-top 1u
  margin-left -1u
  flex-wrap wrap

.attributes
  margin-top 2u
  background-color #30a7d7
  border-radius 2u
  padding 2u 3u

.col
  width 50%

.att
  color white
  font-weight bold
  line-height 4u
  font-size 16px

.val
  font-weight bold
  line-height 4u
  font-size 18px

