.grass
  background-color #9bcc50
  
.poission
  background-color #b97fc9
  color white

.fire
  background-color #fd7d24
  color white

.bug
  background-color #729f3f
  color white

.fairy
  background-color #fdb9ed

.ghost
  background-color #7b62a3
  color white

.psychik
  background-color #f366b9
  color white

.steel
  background-color #93b7b8

.normal
  background-color #a4acaf

.dark
  background-color #707070
  color white

.electric
  background-color #eed535

.ice
  background-color #51c4e7

.rock
  background-color #a38c21
  color white

.watter
  background-color #4592c4
  color white

.dragon
  background-color #f16e57
  color white

.fighting
  background-color black
  color white

.ground
  background-color #812512
  color white

.flying
  background-color #ffffff

.tag
  margin-left 1u
  padding 0 2u
  border 1px solid #a4a4a4
  radius(s)

.selected
  border 3px solid white

.withoutHolder
  margin-top 1u
